/Zadanie_1/Debug
/Zadanie_1/Zadanie_1.sdf
/Zadanie_1/Zadanie_1.sln
/Zadanie_1/Zadanie_1.v12.suo
/Zadanie_1/Zadanie_1/Debug
/Zadanie_1/Zadanie_1/Zadanie_1.vcxproj
/Zadanie_1/Zadanie_1/Zadanie_1.vcxproj.filters
